/* 아래에 CSS를 작성해주세요. */
* {
    box-sizing: border-box;
  }
  
  .title {
    text-align: center;
  }
  .subtext {
    display: block;
    font-size: 16px;
  }

  .item-list {
    display: flex;
    justify-content: center;
    width: 900px;
  }
  
  .item {
    width: 300px;
    display: inline-block;
    margin: -4px;
    /*inline-block 간 4px 공백 존재*/
  }
  
  .item-img {
    width: 100%;
    border-radius: 5%;
  }
  
  .item-subtitle {
    color: rgb(132, 128, 128);
    font-weight: bold;
  }
